h1{
color: rgb(255, 0, 17);

}
h3{
    color: darkmagenta;
}
body{
    background-image: url(img/medicamente-publimedia-shutterstock.jpg);
    background-size: cover;
    
}

ol{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* first list*/
#first{
    font-style: oblique;

}
img{
    margin: 20px;
    box-shadow: 5px 5px 3px 2px rgb(74, 69, 69);     
}

div {
background-color: aliceblue;
width: 200px;
height: 100px;
margin: 30px;
padding: 20px;
border: solid cornflowerblue;
}
/*login button*/
button{
    background-color: cadetblue;
    cursor: pointer;
}
button:hover{
    background-color: cornflowerblue;
}
/*register button*/
.second-button{
    background-color: darksalmon;
}
.second-button:hover{
    background-color: coral;
}


form{
background-color: beige;
width: 200px;
margin: 50px;
padding-left: 30px;
padding: 10px 30px ;
margin: 200px;
border: solid   ;
}